
.bg-light-dark-grey{
    background-color: #161b22;
}

.gitblack{
    background-color: #0d1117;
}

.gistCard{
    width: 75%;
    background-color: #0d1117;
    margin: 30px;
    box-shadow: 0px 15px 22px 3px rgba(30,30,60,0.25);
    border-radius: 25px;
}

.cardg{
    background-color: #161b22!important;
    margin: auto;
    margin-top: 10px;
    width: 50%;
    padding: 10px;

}
.text{
    background-color: #2d3748
}
.searchbarDiv{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.searchbar{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.title{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.description{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.text{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: left;
    white-space: pre-wrap;
}


html{
	scroll-behavior: smooth;
}

body{
    background-color: #010409 !important;
}

#terminal{
	
	overflow: hidden;

}

#divElement{

    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}​

.terminalText{
    font-size: 2vw;
    padding-left: 18px;
}


#terminalTextInput{
	background: none;
	border: none;
    outline: none;
}

.terminalLine, .previousCommand, .errorLine{
	padding-left: 18px;
	padding-top: 5px;
	color: white
}

.input-icon {
    position: relative;
}
  
.commandText{
	color: rgb(0, 255, 0)
}

.previousCommand{
	color: grey
}

.errorLine{
	padding-left: 18px;
	color:red
}

footer{
	margin: 0;
}
.dib {
    display: inline-block;
}

.h2 {
    height: 2rem;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in;
}

.link:link, .link:visited {
    transition: color .15s ease-in;
}

.link:hover {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
}

.link:focus {
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
}

.w2 {
    width: 2rem;
}

.pv4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.ph3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mr3 {
    margin-right: 1rem;
}

.tc {
    text-align: center;
}

.icon{
	color: #BB86FC
}

@media screen and (min-width: 30em) {
    .ph5-ns {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

a {
    text-decoration: none;
  }
  
  nav {
    font-family: monospace;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  
  li {
    color: #fff;
    background-color: #161b22;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
  }
    
  li a {
    display: block;
    height: 100%;
    width: 100%;
    color: #fff;
  }
  
  li:hover,
  li:focus-within {
    background: #1f6feb;
    cursor: pointer;
  }
  
  li:focus-within a {
    outline: none;
  }
  
  ul li ul {
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
  }
  
  ul li:hover > ul,
  ul li:focus-within > ul,
  ul li ul:hover,
  ul li ul:focus {
     visibility: visible;
     opacity: 1;
     display: block;
  }
  
  ul li ul li {
    clear: both;
    width: 100%;
  }